html, body {
    width: 100% !important;
    height: 100% !important;
    background-color: #eeeeee !important;
}
.background {
    position: absolute;
    width:100%;
    height: 100%;
    background-image: url('../img/bg.png') !important;
    background-position: top;
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.015;
}
#header {
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
    height: 100px;
    width:100%;
    right: 15px;
    left: 15px;
    top: 0px;
    vertical-align: middle;
    line-height: 100px;
}
table#header {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}
.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
}
.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 24px;
    height: 100%;
}
.tabs button:hover {
    background-color: #fff;
}
.tabs button.tab-active {
    background-color: #ccc;
}
.menubtn {
    position: absolute;
    top:0px;
    right: 12px;
    text-align: right;
    display: block;
}
.carousel {
    position: relative;
    width: 100%;
    height:100%;
    padding: 2vw 2vh;
    padding-top: 20px;
}
.carousel,.main-page,.active, .item {
    height: 100%;
}

.carousel-inner{
    height:100%;
}
.main-page {
    top: 0px;
    bottom: 0px;
    border-radius: 15px;
    padding: 5%;
    overflow: auto;
}
.slide-container {
    height: 100%;
    width: 100%;
}
.home-container {
    display: table;
    justify-content: center;
    padding-top: 3em;
}
.home-container div {
    justify-self: center;
}
.home-container td {
    padding: 15px;
}
.home-caption {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 0px;
    text-align: center !important;
}
.profile-picture {
    border-radius: 50%;
    border: solid 1px #cccccc;
    width: 100%;
    height: auto;
    margin: auto auto;
}
.user-container {
    display: table;
    height:100%;
    grid-template-rows: 40% 60%;
    grid-gap: 1em;
}
.profile {
    background-color: #eeeeee;
    border-radius: 5%;
    display: grid;
    grid-template-rows: 30% auto;
    grid-template-columns: 30% auto;
    grid-gap: 1em;
    height: 42%;
}
.profile .profile-picture {
    padding: 12px;
    display: table-cell;
    margin: auto auto;
}
.profile .heading {
    grid-column: 2;
    grid-row: 1;

    text-align: center;
}
.profile .description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
    padding: 0.5em;
    overflow: hidden;
}
.active-app {
    margin-top: 3%;
    height: 55%;
    background-color: #eeeeee;
    border-radius: 5%;
    padding: 1em;
}
.active-app textarea {
    height: 50%;
}
#slideshow-img {
    width:100%;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
.do-not-disturb {
    display: block;
    position: relative;
    width: 100%;
    height: 35px;
    font-size: 16px;
    text-emphasis: none;
    text-align: center;
    background-color: red;
    line-height: 35px;
    top: -140px;
    color: white;
    text-decoration: none;
}
#FAQ.main-page {
    overflow: auto;
}
.event {
    display: table-cell;
    background-color: gray;
    height: 100%;
    width : 100%;
}
.red {
    background-color: lightcoral;
}
.blue {
    background-color: lightblue;
}
.green {
    background-color: lightgreen;
}
.calendar-table {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin-bottom: 15px;
}
.calendar-table tr:nth-child(odd) {
    background-color: #dddddd;
}
.calendar-table td {
    width: 16.66%;
    height: 55px;
}
textarea {
    height:50%;
}
